.main_header {
    text-align:center;
    font-size: 25px;
    font-weight: bold;
}
.youtube{
    width: auto;
    height: auto;
}

.nav{
    text-align:center
}

body {
    background: antiquewhite;
}
