.main_header {
    text-align:center;
    font-size: 25px;
    font-weight: bold;
}
.youtube{
    width: auto;
    height: auto;
}

.nav{
    margin: 20px;
    text-align:center;
}
.navElement{
    cursor: pointer;
    display: inline;
    margin: 10px;
    padding: 10px;
    background-color: white;
    outline: 1px solid black;
    border-radius: 50px;
}

/* .navElementActive{
    display: inline;
    margin: 2px;
    padding: 5px;
    background-color: lightblue;
    outline: 1px solid black;
    border-radius: 20%;
} */

body {
    background: antiquewhite;
}

a {
    text-decoration:none;
}

